/******************************************************************
* flex-size　flex要素のサイズを計算する（均等割り）
* @param $num 並べる個数
* @param $gap 間の余白（rem, px）
* @param $important オプション: '!important'を付与する場合に指定
*  例) @include flexSize(3, 1rem);
*******************************************************************/
@mixin flexSize($num, $gap, $important: '') {
  width: calc((100% / $num) - ($gap * ($num - 1) / $num));
  @if $important == '!important' {
    width: calc((100% / $num) - ($gap * ($num - 1) / $num)) !important;
  }
}
