@use '../variables/variables' as *;
@use '../functions/style-settings' as *;
/******************************************************************
* font フォントスタイルを設定する
* @param $_size サイズ
* @param $_line 行間
* @param $_space 文字間
* @param $_weight 太さ
* @param $_family フォント
*******************************************************************/
/* 汎用指定スタイル
----------------------------------------------------------------- */
// フォントスタイル(XD)
// @mixin font($_size, $_line, $_space, $_weight: 400, $_family: $font-f_biz) {
//   font-family: $_family;
//   font-weight: $_weight;
//   font-size: calc($_size / 10 * 1rem);
//   letter-spacing: calc($_space / 1000 * 1em);
//   line-height: $_line / $_size
// }

// フォントスタイル(figma)
@mixin font($_size, $_line, $_space, $_weight: 400, $_family: $font-f_noto) {
  font-family: $_family;
  font-weight: $_weight;
  font-size: res($_size);
  letter-spacing: calc($_space / 100 * 1em);
  line-height: $_line / 100;
}

/* デザイン用スタイル
----------------------------------------------------------------- */
// Title Mobile/H5 Mobile
@mixin Title-Mobile-H5-Mobile {
  font-family: $font-f_noto;
  font-weight: 700;
  font-size: res(18);
  line-height: 1.3;
  letter-spacing: 0.05em;
  text-align: center;
}

// Title Mobile/H2 Mobile
@mixin Title-Mobile-H2-Mobile {
  font-family: $font-f_noto;
  font-weight: 700;
  font-size: res(28);
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-align: center;
}

// Title Desktop/H2
@mixin Title-Desktop-H2 {
  font-family: $font-f_noto;
  font-weight: 700;
  font-size: res(38);
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-align: left;
}

// Title Desktop/H5
@mixin Title-Desktop-H5 {
  font-family: $font-f_noto;
  font-weight: 700;
  font-size: res(24);
  line-height: 1.3;
  letter-spacing: 0.05em;
  text-align: center;
}

// Title Mobile/H4 Mobile
@mixin Title-Mobile-H4-Mobile {
  font-family: $font-f_noto;
  font-weight: 700;
  font-size: res(20);
  line-height: 1.3;
  letter-spacing: 0.05em;
  text-align: left;
}

// Paragraph Mobile/Body Medium Mobile
@mixin Paragraph-Mobile-Body-Medium-Mobile {
  font-family: $font-f_noto;
  font-weight: 400;
  font-size: res(14);
  line-height: 1.5;
  letter-spacing: 0.05em;
  text-align: right;
}

// Paragraph Mobile/Body Large Mobile
@mixin Paragraph-Mobile-Body-Large-Mobile {
  font-family: $font-f_noto;
  font-weight: 400;
  font-size: res(16);
  line-height: 1.5;
  letter-spacing: 0.05em;
  text-align: left;
}

// Paragraph Mobile/Body Small Mobile
@mixin Paragraph-Mobile-Body-Small-Mobile {
  font-family: $font-f_noto;
  font-weight: 400;
  font-size: res(12);
  line-height: 1.5;
  letter-spacing: 0.05em;
  text-align: center;
}

// Paragraph Desktop/Body Medium
@mixin Paragraph-Desktop-Body-Medium {
  font-family: $font-f_noto;
  font-weight: 400;
  font-size: res(20);
  line-height: 1.3;
  letter-spacing: 0.05em;
  text-align: center;
}

// Paragraph Desktop/Body Large
@mixin Paragraph-Desktop-Body-Large {
  font-family: $font-f_noto;
  font-weight: 400;
  font-size: res(18);
  line-height: 1.5;
  letter-spacing: 0.05em;
  text-align: left;
}
