@use '../variables/variables' as *;
/******************************************************************
* hover判定
*******************************************************************/
/* hover 非hover
----------------------------------------------------------------- */
@mixin hover() {
  //hover(PC)
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @content;
    }
  }

  //非hover(スマホ)
  @media (hover: none) and (pointer: coarse) {
    &:active {
      @content;
    }
  }
}

/* hoverのみ
----------------------------------------------------------------- */
@mixin hover-only() {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @content;
    }
  }
}

/* hover時　カラースタイル
----------------------------------------------------------------- */
@mixin hover-color() {
  transition: color $transition_normal;
  @include hover {
    color: colors($color_hover);
  }
}

/* hover時　透過スタイル
----------------------------------------------------------------- */
@mixin hover-opacity() {
  transition: opacity $transition_normal;
  @include hover {
    opacity: 0.8;
  }
}
