@use '../variables/variables' as *;
/******************************************************************
* スクロールバーデザイン
*******************************************************************/
@mixin scrollbar {
  scrollbar-width: thin;
  scrollbar-color: colors(main) colors(whitesmoke);
}

@mixin origin-scrollbar {
  &::-webkit-scrollbar {
    height: s(8);
  }

  &::-webkit-scrollbar-track {
    background-color: colors(whitesmoke);
    border-radius: s(4);
  }

  &::-webkit-scrollbar-thumb {
    background-color: colors(main);
    border-radius: s(4);
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken(colors(main), 10%);
    }
  }
}

@mixin scrollbar_none {
  &::-webkit-scrollbar {
    width: 0;
  }
}
