@use 'sass:math';
@use 'sass:meta';
/******************************************************************
* strip-unit　単位を除去する、または指定した単位に変換する
* @param $value 単位を除去したい値(単位有)
* @param $unit オプション: 変換したい単位(単位有) 例: 1px, 1rem, 1%
*  例) strip-unit(32px) → 32
*  例) strip-unit(32px, 1rem) → 2rem
*******************************************************************/
@function strip-unit($value, $unit: null) {
  // 単位除去は math.div を使用
  $n: null;
  @if math.is-unitless($value) {
    $n: $value;
  } @else {
    $n: math.div($value, ($value * 0 + 1));
  }

  @if $unit == null {
    @return $n;
  }

  // ここを meta.type-of に
  @if meta.type-of($unit) != 'number' or math.is-unitless($unit) {
    @error 'strip-unit(): The second argument must be a number with a unit, e.g. 1px, 1rem, or 1%.';
  }

  $unit-one: math.div($unit, strip-unit($unit));
  @return $n * $unit-one;
}
